@import 'https://fonts.googleapis.com/css2?family=Iceland&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap';
@import 'normalize.css';

:root {
  --primary-color: #00008b;
  --secondary-color: #eeeefe;
  --yellow-color: #ebb143;
  --warning-color: #dc7700;
  --danger-color: #dc3545;
  --black-color: #000000;
  --muted-color: #999999;
  --white-color: #ffffff;
  --information-color: #39b5fa;
  --success-color: #198754;
  --orange-color: #ff5c00;
  --border-color: #b3b3b3;

  --content-width: 1152px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', system-ui, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: rgb(236, 236, 236);
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
