.personal-activities {
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.06),
    0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  :global {
    .ant-list-item {
      padding: 24px;
    }

    .ant-list-item-meta-title {
      margin: 0 !important;
    }
  }
}

.personal-activities__item {
  width: 100%;
  display: flex;
  padding: 16px 20px;

  &--bordered {
    border-bottom: 1px solid #e5e7eb;
  }

  .ant-list-item-meta {
    align-items: center;
  }
}

.personal-activities__icon {
  width: 48px;
  padding: 15.5px 12px;
  border-radius: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  &--orange {
    background-color: rgba(234, 88, 12, 0.1);
  }

  &--yellow {
    background-color: rgba(235, 177, 67, 0.2);
  }

  &--primary {
    background-color: rgba(0, 0, 139, 0.2);
  }
}

.personal-activities__icon-shape {
  width: 20px;
  height: 20px;
  border-radius: 12px;

  &--orange {
    color: var(--orange-color);
  }

  &--yellow {
    color: var(--yellow-color);
  }

  &--primary {
    color: var(--primary-color);
  }
}

.personal-activities__title {
  color: #1f2937;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.personal-activities__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.personal-activities__meta-group {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666;
  font-size: 14px;
}

.personal-activities__meta-icon {
  font-size: 14px;
}

.personal-activities__meta-text {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
