.admin-table {
  width: 100%;

  &__table {
    :global(.ant-table) {
      font-family: 'Montserrat', sans-serif;
    }

    :global(.ant-table-thead > tr > th) {
      background: var(--background-color-light, #f5f5f5);
      font-weight: 600;
      font-size: 14px;
      color: var(--text-color, #1f1f1f);
      padding: 16px 12px;
    }

    :global(.ant-table-tbody > tr > td) {
      padding: 16px 12px;
      font-size: 14px;
      color: var(--black-color);
    }
  }
}
