.toast {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1);

  &__icon-wrapper {
    width: 24px;
    height: 24px;
    display: grid;
    place-items: center;
    margin-right: 4px;
    flex: 0 0 24px;
  }

  &__icon {
    font-size: 16px;
    line-height: 1;
    color: var(--white-color);
  }

  &__message {
    font-size: 12px;
    font-weight: 600;
    color: var(--white-color);
  }

  &--success {
    background: var(--success-color);
  }

  &--danger {
    background: var(--danger-color);
  }

  &--warning {
    background: var(--warning-color);
  }

  &__notice {
    padding: 0 !important;
    background: transparent !important;
    box-shadow: none !important;
    width: 320px;
  }
}
