.editor {
  .ql-toolbar {
    border-radius: 8px 8px 0 0;
  }

  .ql-container {
    min-height: 200px;
    border-radius: 0 0 8px 8px;
  }

  &--readonly {
    .ql-toolbar {
      display: none;
    }
  }
}
