.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 20px 0 20px;
  height: 60px;
}

/* Breadcrumb */
.breadcrumbSection {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: Montserrat;
  font-size: 14px;
}

.home {
  color: #00008b;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.home:hover {
  color: #0044cc;
}

.slash {
  color: #00008b;
}

.current {
  color: #b3b3b3;
  font-weight: 500;
  transition: all 0.3s ease;
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Nút thêm mới (nếu cần) */
.addButton {
  background: #ebb143;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: Montserrat;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}

.addButton:hover {
  background: #d49f33;
}
