.activity-slider {
  position: relative;

  :global(.swiper-button-prev),
  :global(.swiper-button-next) {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    z-index: 10;

    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    background: var(--primary-color);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      font-size: 16px;
    }
  }

  .swiper-button-prev {
    left: -20px;
  }

  .swiper-button-next {
    right: -20px;
  }
}
