.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  word-wrap: break-word;
  cursor: pointer;
  border: none;
  gap: 8px;

  &.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }

  &.orange {
    background: var(--orange-color);
    color: var(--white-color);
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--black-color);
    color: var(--black-color);
  }

  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--icon {
    gap: 8px;
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
