.activities-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__search {
    margin-top: 66px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__breadcrumb {
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0;

    span {
      color: #b3b3b3;
    }

    a {
      color: var(--primary-color);
      &:hover {
        color: var(--orange-color);
      }
    }

    @media (max-width: 1024px) and (min-width: 769px) {
      font-size: 13px;
      padding: 18px 0;
    }

    @media (max-width: 768px) {
      font-size: 12px;
      padding: 15px 0;
    }
  }

  &__layout {
    width: 100%;
  }

  &__results-column {
    background-color: var(--white-color);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  &__results-header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &__results-count {
    display: flex;
    align-items: center;
  }

  &__results-count-text {
    margin: 0;
    color: var(--primary-color);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
  }

  &__results-count-number {
    color: var(--Text-Orange, #ff5c00);
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 8px;

    &-label {
      color: var(--primary-color);
      font-weight: 500;
      font-family: 'Montserrat', sans-serif;
    }

    &-select {
      min-width: 210px;
      font-family: 'Montserrat', sans-serif;
    }
  }

  &__cards {
    display: grid;
    gap: 16px;
  }

  &__pagination {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
  }

  &__filters {
    position: sticky;
    top: 16px;
    padding: 16px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 0 1px #f0f0f0 inset;
  }
}
