.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin-bottom: 20px;
  background: var(--white-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 68px;
  font-family: 'Montserrat', sans-serif;

  &__title {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
  }

  &__breadcrumb {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;

    &-home {
      color: var(--primary-color);
      font-weight: 500;
      cursor: pointer;
      transition: color 0.2s ease;
    }

    &-home:hover {
      color: #0044cc;
    }

    &-slash {
      color: var(--primary-color);
    }
  }

  &__add-button {
    background: var(--primary-color);
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 15px;
    color: var(--white-color);
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background-color: var(--primary-hover-color) !important;
    }
  }

  &__btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    height: auto;
    border-radius: 8px;

    &--primary {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: white;

      &:hover {
        background-color: var(--primary-hover-color) !important;
        border-color: var(--primary-hover-color) !important;
      }
    }

    &--orange {
      background: var(--orange-color);
      border-color: var(--orange-color);
      color: white;

      &:hover {
        background: #e65100 !important;
        border-color: #e65100 !important;
      }
    }

    &--danger {
      background-color: var(--danger-color);
      border-color: var(--danger-color);
      color: var(--white-color);

      &:hover {
        background: #b7192c !important;
        border-color: #b7192c !important;
        color: var(--white-color) !important;
      }

      &[disabled],
      &[disabled]:hover,
      &:disabled,
      &:disabled:hover {
        background-color: #f5f5f5 !important;
        color: rgba(0, 0, 0, 0.25) !important;
        border-color: #d9d9d9 !important;
        cursor: not-allowed;
      }
    }

    &--success {
      background-color: var(--success-color);
      border-color: var(--success-color);
      color: var(--white-color);

      &:hover {
        background: #186340 !important;
        border-color: #186340 !important;
        color: var(--white-color) !important;
      }

      &[disabled],
      &[disabled]:hover,
      &:disabled,
      &:disabled:hover {
        background-color: #f5f5f5 !important;
        color: rgba(0, 0, 0, 0.25) !important;
        border-color: #d9d9d9 !important;
        cursor: not-allowed;
      }
    }
  }

  &__actions {
    display: flex;
    gap: 12px;
  }
}
