.check-modal {
  :global(.ant-modal-content) {
    border-radius: 12px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat', sans-serif;
  }

  :global(.ant-modal-close) {
    margin-top: 6px;
    margin-right: 10px;
  }

  &__header {
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 16px;
  }

  &__title {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__campaign-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--black-color);
    margin: 0;
  }

  &__meta {
    display: inline-flex;
    align-items: center;
  }

  &__tag {
    color: var(--white-color);
    border-radius: 24px;
    padding: 4px 12px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    border: none;

    &-group {
      background-color: var(--danger-color);
    }

    &-points {
      background-color: var(--primary-color);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-row {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }

    &-icon {
      color: var(--primary-color);
    }

    &-text {
      font-size: 14px;
      color: var(--black-color);
    }
  }

  &__camera-box {
    width: 100%;
    height: 100%;
    padding: 26px;
    border-radius: 12px;
    border: 2px dashed var(--orange-color);
    background-color: transparent;

    &-empty {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &-icon {
      font-size: 24px;
      padding: 32px 36px;
      background-color: rgba(179, 179, 179, 1);
      border-radius: 12px;
    }

    &-title {
      font-size: 18px;
      font-weight: 600;
    }

    &-hint {
      font-size: 14px;
      color: #696969;
    }

    &-preview {
      width: 100%;
      max-width: 200px;
      max-height: 200px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      border-radius: 12px;
      background-position: center;
      background-size: cover;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
  }

  &__confirm-button {
    background-color: var(--orange-color);
    border: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: rgba(215, 68, 0, 1);
    }

    &--checkout {
      background-color: var(--orange-color);
    }
  }

  &__cancel-button {
    background-color: transparent;
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
    padding: 12px 48px;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: #fafafa;
    }
  }
}
