.sidebar {
  &__sider {
    top: 0;
    height: 100vh;
    background: var(--white-color);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: auto;
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid var(--muted-color);

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
    }
  }

  &__brand {
    color: var(--primary-color);
    font-family: Iceland, system-ui, sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 1;
  }

  &__menu {
    padding: 12px 10px !important;
    background: var(--white-color);
    border-inline-end: 0;

    :global(.ant-layout-sider-collapsed) & {
      padding-inline: 8px;
    }
  }

  &__item {
    border-radius: 12px;
    height: auto;
    line-height: 1.25;
    padding: 24px 14px !important;
    margin: 14px 0 !important;

    :global(.ant-menu-title-content) {
      font-family: Montserrat, system-ui, sans-serif;
      font-size: 15px;
    }

    :global(.ant-menu-item-icon) {
      font-size: 22px;
      width: 22px;
      height: 22px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      padding: 3px;
    }
  }

  &__item--neutral {
    background: #f4f4f4;
    color: var(--black-color);

    :global(.ant-menu-title-content) {
      color: var(--black-color);
    }

    :global(.ant-menu-item-icon) {
      background-color: var(--primary-color);
      color: var(--white-color) !important;
    }
  }

  &__item--active {
    background: var(--primary-color) !important;
    color: var(--white-color);

    :global(.ant-menu-title-content) {
      color: var(--white-color);
    }

    :global(.ant-menu-item-icon) {
      color: var(--white-color) !important;
    }
  }

  :global(.ant-layout-sider-collapsed) &__item {
    justify-content: center;

    :global(.ant-menu-item-icon) {
      transform: translateY(-70%);
      margin-right: 0;
    }
  }
}

