.searchbar {
  width: 100%;
  padding: 16px 24px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &--home {
    background-color: var(--primary-color);
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  }

  &--list {
    border-radius: 0;
  }

  &__form {
    width: 1200px;
  }

  &__item {
    margin: 0 !important;
  }

  &__input,
  &__select {
    background: var(--white-color);
    border-radius: 8px !important;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset;
  }

  &__button {
    border-radius: 8px !important;
    font-weight: 500;
    font-size: 15px;

    &--orange {
      background: var(--orange-color) !important;
      border: none !important;
      color: var(--white-color) !important;
    }
  }

  @media (max-width: 767.98px) {
    padding: 16px 16px;
  }
}
