.activity-card {
  background: var(--white-color);
  overflow: hidden;
  display: inline-flex;
  border-radius: 4px;

  &__cover {
    background: #d9d9d9 no-repeat center / cover;
    position: relative;
  }

  &__badge {
    position: absolute;
    top: 15px;
    left: 0;
    background: var(--orange-color);
    color: var(--white-color);
    padding: 4px 8px;
    border-radius: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: var(--black-color);
    font-size: 14px;
    font-weight: 500;
  }

  &__points,
  &__date,
  &__location {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 14px;
      height: 14px;
      color: var(--black-color);
    }
  }

  &__points-value {
    color: var(--orange-color);
    font-size: 12px;
    font-weight: 700;
  }

  &__date-value,
  &__location-value {
    color: var(--black-color);
    font-size: 12px;
    font-weight: 300;
  }

  &__participants {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;

    .ant-avatar {
      width: 32px;
      height: 32px;
      border: 1px solid #fff;
      background: #d9d9d9;
    }
  }

  &__capacity {
    color: #adadad;
    font-size: 14px;
    font-weight: 500;
  }

  &__actions {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;

    :global(button[variant='outline']) {
      border-radius: 8px;
    }

    :global(button[variant='primary']) {
      border-radius: 8px;
    }
  }

  /* ====== Vertical layout ====== */
  &--vertical {
    flex-direction: column;
    border-radius: 20px;

    .activity-card__cover {
      align-self: stretch;
      height: 137px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 35px;
    }

    .activity-card__content {
      align-self: stretch;
      padding: 8px 12px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      gap: 8px;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .activity-card__actions {
      justify-content: center;
      width: 100%;
    }
  }

  /* ====== Horizontal layout ====== */
  &--horizontal {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 4px;
    font-family: Montserrat, sans-serif;

    .activity-card__cover {
      width: 240px;
      height: 215px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      flex: 0 0 auto;
    }

    .activity-card__content {
      flex: 1 1 0;
      height: 215px;
      padding: 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 1px #e3e3e3 solid;
      border-right: 1px #e3e3e3 solid;
      border-bottom: 1px #e3e3e3 solid;
      justify-content: space-between;
    }

    .activity-card__actions {
      width: 100%;

      :global(button[variant='outline']) {
        width: 94px;
      }

      :global(button[variant='primary']) {
        flex: 1 1 0;
      }
    }
  }
}
