.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  &__menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}

.admin-header__menu-line {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: 0.3s;
}

.admin-header__account {
  display: flex;
  align-items: center;
}

.admin-header__account-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.admin-header__avatar {
  width: 42px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--primary-color);
}

.admin-header__text-box {
  display: flex;
  flex-direction: column;
}

.admin-header__name {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-color);
}

.admin-header__email {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: var(--muted-color);
}
